
<div class="match-container" ng-class="{ 'minimal' : minimal }">

  <div class="live" ng-if="match.live">Live</div>

  <h1>{{ match.series }} - {{ match.match }}</h1>

  <div class="score">{{ match.score }}</div>

  <div ng-if="!minimal">

    <dl>
      <dt>Last wicket</dt>
      <dd>
       {{ match.d.MainScorecard.Sportsflash.Scorecard[0].LastWicket[0] }}
      </dd>

      <dt>Last 5 overs</dt>
      <dd>
        <div class="over" ng-repeat="over in match.d.MainScorecard.Sportsflash.Scorecard[0].Overs[0].Over">
          <span class="ball" ng-repeat="ball in over.Ball">
            {{ ball.Run[0] }}
          </span>

        </div>
      </dd>

      <dt>Last updated</dt>
      <dd>{{ match.updated | date }}</dd>
    </dl>

  </div>

  <button ng-if="!minimal" class="button" ng-click="toggleMinimal()">Collapse</button>
  <button ng-if="minimal" class="button" ng-click="toggleMinimal()">Expand</button>

  <a class="button back-button" ui-sref="matches">Back</a>
</div>
